{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat APP</title>
    <link rel="stylesheet" href="{% static 'css/chat/chat.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  </head>
  <body class="landing-chat-body">
    <div class="chat-landing">
      <div class="left">
        <nav>
          <div class="logo">
            <img src="{% static 'assets/main1.jpg' %}" alt="" />
            <p>Chat APP</p>
          </div>
          <div class="nav-links">
            <div class="nav-link">
              <i class="fa-solid fa-house"></i>
              <a href="{% url 'Home' %}">Home</a>
            </div>
            <div class="nav-link">
              <i class="fa-brands fa-rocketchat"></i>
              <a href="{% url 'Chat' %}">Chat Window</a>
            </div>
            <div class="nav-link">
              <i class="fa-solid fa-cog"></i>
              <a href="{% url 'Dashboard' %}">Dashboard</a>
            </div>
            <div class="nav-link">
              <i class="fa-solid fa-user"></i>
              <a href="#">Profile</a>
            </div>
          </div>
        </nav>
        <div class="bottom">
          <p class="head">Welcome, Syndicates</p>
          <p class="sub">Get started With your Chats</p>
          <div class="open-chat-win" title="Open Chat" onclick="OpenChatWindow()">
            <p>Open Chat Window</p>
            <i class="fa-solid fa-up-right-from-square"></i>
          </div>
        </div>
      </div>
      <div class="message-area">
        <div class="chat-members">
          <div class="top">
            <p class="head-chat">CHAT</p>
            <div class="add-chat" title="Add Friends">
              <p>Add</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
          <div class="mid">
            <div class="member-card">
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
              <div class="member">
                <img src="{% static 'assets/main1.jpg' %}" alt="" />
                <p>Charan T M</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function OpenChatWindow() {
        window.location.href = "{% url 'Chat' %}";
      }
    </script>
  </body>
</html>
