* {
  margin: 0;
  padding: 0;
}

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --body-bg: #1f2c34;
  --body-hbg: rgb(40, 40, 40);
  --chat-sys: #121b22;
  --search-bg: rgba(75, 75, 75, 0.69);
  --text: white;
  --member-lbg: #4a545b36;
  --member-hbg: rgba(255, 255, 255, 0.11);
  --hover-light: rgba(255, 255, 255, 0.112);
  --placeholder: rgba(255, 255, 255, 0.414);
  --border: rgba(34, 34, 34, 0.927);
  --border1: #4a545b62;
}

html ::-webkit-scrollbar {
  display: none;
}

.landing-chat-body {
  display: flex;
  background-color: var(--body-bg);
  padding: 1rem;
  color: var(--text);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.landing-chat-body .message {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 80%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.landing-chat-body .message.success {
  background-color: #d4edda;
  border-bottom: 3px solid #28a745;
}
.landing-chat-body .message.success p {
  color: #155724;
}
.landing-chat-body .message.error {
  background-color: #f8d7da;
  border-bottom: 3px solid #dc3545;
}
.landing-chat-body .message.error p {
  color: #7d111b;
}
.landing-chat-body .message .close-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.landing-chat-body .message .close-btn:hover {
  color: #ff0000;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.landing-chat-body .message.fade-out {
  animation: fadeOut 3s forwards;
}
.landing-chat-body .add-user-form {
  display: none;
  position: absolute;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 20%;
  left: 35%;
  top: 30%;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid white;
  padding: 2rem;
  background-color: rgba(30, 30, 30, 0.84);
  border-radius: 10px;
}
.landing-chat-body .add-user-form .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing-chat-body .add-user-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.landing-chat-body .add-user-form form .name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.landing-chat-body .add-user-form form .name input {
  height: 30px;
}
.landing-chat-body .add-user-form form .users {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.landing-chat-body .add-user-form form button {
  width: 30%;
  margin-top: 5%;
  height: 30px;
  border-radius: 5px;
}
.landing-chat-body .chat-landing {
  display: flex;
  background-color: var(--chat-sys);
  flex: 1;
  height: 95vh;
  border-radius: 10px;
}
.landing-chat-body .chat-landing .left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.landing-chat-body .chat-landing .left nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 8%;
  margin-top: 5%;
  padding: 0.8rem;
  background-color: var(--body-bg);
  border-radius: 10px;
}
.landing-chat-body .chat-landing .left nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}
.landing-chat-body .chat-landing .left nav .nav-links .nav-link {
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 8px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.landing-chat-body .chat-landing .left nav .nav-links .nav-link a {
  text-decoration: none;
  color: white;
}
.landing-chat-body .chat-landing .left nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.landing-chat-body .chat-landing .left nav .logo p {
  font-size: 19px;
}
.landing-chat-body .chat-landing .left nav .logo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing-chat-body .chat-landing .left .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.landing-chat-body .chat-landing .left .bottom .head {
  margin-top: 20%;
  margin-left: 10%;
  font-size: 4vw;
}
.landing-chat-body .chat-landing .left .bottom .sub {
  margin-left: 12%;
  font-size: 20px;
}
.landing-chat-body .chat-landing .left .bottom .open-chat-win {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 26%;
  margin-left: 12%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 30px;
  background-color: var(--body-bg);
  cursor: pointer;
  font-size: 14px;
  border: 1px solid rgba(200, 200, 200, 0.262745098);
}
.landing-chat-body .chat-landing .left .bottom .open-chat-win:hover {
  background-color: var(--body-hbg);
}
.landing-chat-body .chat-landing .message-area {
  width: 50%;
  padding: 2rem 6rem;
}
.landing-chat-body .chat-landing .message-area .chat-members {
  height: 610px;
  border-radius: 10px;
  background-color: var(--body-bg);
  padding: 2rem 3rem;
}
.landing-chat-body .chat-landing .message-area .chat-members .top {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}
.landing-chat-body .chat-landing .message-area .chat-members .top .head-chat {
  font-size: 25px;
}
.landing-chat-body .chat-landing .message-area .chat-members .top .add-chat {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0.7rem;
  border-radius: 4px;
  background-color: var(--chat-sys);
  cursor: pointer;
}
.landing-chat-body .chat-landing .message-area .chat-members .mid {
  flex: 1;
  padding: 10px 0;
  overflow-y: hidden;
}
.landing-chat-body .chat-landing .message-area .chat-members .mid .member-card {
  max-height: 530px;
  display: flex;
  flex-direction: column;
  padding: 1rem 10px 0 10px;
  gap: 10px;
  overflow-y: auto;
}
.landing-chat-body .chat-landing .message-area .chat-members .mid .member-card .member {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--member-lbg);
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
}
.landing-chat-body .chat-landing .message-area .chat-members .mid .member-card .member img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing-chat-body .chat-landing .message-area .chat-members .mid .member-card .member:hover {
  background-color: var(--member-hbg);
}

.chat-body {
  display: flex;
  background-color: var(--body-bg);
  color: var(--text);
}
.chat-body nav {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--body-bg);
  padding: 0.5rem 1rem;
}
.chat-body nav .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chat-body nav .left img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat-body nav i {
  margin-right: 3%;
  padding: 5px 7px;
  border-radius: 3px;
  cursor: pointer;
}
.chat-body nav i:hover {
  background-color: var(--hover-light);
}
.chat-body aside .sidebar {
  display: flex;
  top: 51px;
  left: 0;
  position: fixed;
  align-self: start;
  height: 100%;
  padding: 20px 0.2rem;
  width: 51px;
  background-color: var(--body-bg);
  transition: all 0.3s ease;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}
.chat-body aside .sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  gap: 0.5rem;
}
.chat-body aside .sidebar ul li {
  padding: 10px 10px 10px 18px;
  cursor: pointer;
}
.chat-body aside .sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  color: var(--text);
}
.chat-body aside .sidebar ul li a i {
  font-size: 13px;
}
.chat-body aside .sidebar ul li:hover {
  background-color: var(--hover-light);
  border-radius: 5px;
}
.chat-body aside .sidebar.active {
  width: 150px;
}
.chat-body main {
  display: flex;
  flex: 1;
  height: 93.7vh;
  margin-top: 51px;
  margin-left: 59px;
  border-top-left-radius: 10px;
}
.chat-body main .member-list {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  background-color: var(--chat-sys);
  border-right: 1px solid var(--border1);
  border-left: 1px solid var(--border1);
  border-top: 1px solid var(--border1);
  width: 25%;
  padding: 1.5rem 0 0 0;
  border-top-left-radius: 15px;
}
.chat-body main .member-list .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.chat-body main .member-list .top .editable-icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.chat-body main .member-list .top .editable-icon i {
  cursor: pointer;
}
.chat-body main .member-list .mid {
  background-color: var(--body-bg);
  border-radius: 5px;
  border-bottom: 1px solid var(--text);
  display: flex;
  height: 40px;
  align-items: center;
  margin: 0 1rem 0 1rem;
}
.chat-body main .member-list .mid i {
  padding: 10px;
  cursor: pointer;
}
.chat-body main .member-list .mid input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: var(--text);
  background-color: transparent;
}
.chat-body main .member-list .mid input::-moz-placeholder {
  color: var(--placeholder);
}
.chat-body main .member-list .mid input::placeholder {
  color: var(--placeholder);
}
.chat-body main .member-list .bottom {
  flex: 1;
  overflow-y: hidden;
}
.chat-body main .member-list .bottom .contacts {
  max-height: 630px;
  display: flex;
  flex-direction: column;
  padding: 3px 0 0 0;
  overflow-y: auto;
  /* change border bottom color of the item in the list  */
}
.chat-body main .member-list .bottom .contacts .list-group-item {
  border: none;
  border-bottom: 1px solid var(--border1);
  padding: 15px 30px 15px 20px;
  font-size: 18px;
  background-color: transparent;
  text-decoration: none;
  color: white;
}
.chat-body main .member-list .bottom .contacts .list-group-item:hover {
  color: white;
  background-color: var(--member-lbg);
}
.chat-body main .member-list .bottom .contacts .members-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.chat-body main .member-list .bottom .contacts .members-container img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat-body main .member-list .bottom .contacts .members-container .name-message {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chat-body main .member-list .bottom .contacts .members-container .name-message .name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.chat-body main .member-list .bottom .contacts .message-by {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.chat-body main .member-list .bottom .active {
  background-color: var(--border1) !important;
  color: white;
  border-bottom: none !important;
}
.chat-body main .chat {
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.chat-body main .chat .chat-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  background-color: var(--body-bg);
  border-top: 1px solid var(--border1);
  border-bottom: 1px solid var(--border1);
}
.chat-body main .chat .chat-top .name-c {
  display: flex;
  align-items: center;
}
.chat-body main .chat .chat-top .name-c p {
  font-size: 1.5vw;
}
.chat-body main .chat .chat-top form input {
  height: 30px;
  border-radius: 5px;
  background-color: var(--chat-sys);
  padding: 5px 10px 5px 20px;
  border: none;
  outline: none;
  color: var(--text);
}
.chat-body main .chat .chat-bg {
  position: fixed;
  height: 830px;
  width: 1285px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 118px;
  z-index: -1;
}
.chat-body main .chat .chatbox {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 1rem 4rem;
  border: 1px solid var(--border);
  overflow-y: auto;
  flex: 1;
}
.chat-body main .chat .chatbox .chat-message {
  padding: 5px 10px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
  clear: both;
  border: 1px solid var(--border1);
  z-index: 9999;
}
.chat-body main .chat .chatbox .chat-message.sender {
  background-color: #005d4b;
  color: var(--text);
  margin-left: auto;
  text-align: right;
  border-radius: 7px;
}
.chat-body main .chat .chatbox .chat-message.sender .message {
  display: flex;
  flex-direction: column;
}
.chat-body main .chat .chatbox .chat-message.sender .message span {
  margin-right: 40px;
}
.chat-body main .chat .chatbox .chat-message.sender .message p {
  font-size: 10px;
}
.chat-body main .chat .chatbox .chat-message.receiver {
  background-color: var(--body-bg);
  color: white;
  margin-right: auto;
  text-align: left;
  border-radius: 7px;
}
.chat-body main .chat .chatbox .chat-message.receiver .message {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.chat-body main .chat .chatbox .chat-message.receiver .message span {
  margin-right: 40px;
}
.chat-body main .chat .chatbox .chat-message.receiver .message p {
  font-size: 10px;
}
.chat-body main .chat .input-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid var(--border1);
  background-color: var(--body-bg);
  padding: 0.5rem;
}
.chat-body main .chat .input-group #add-icon {
  cursor: pointer;
  font-size: 25px;
}
.chat-body main .chat .input-group input {
  margin-left: 1%;
  width: 87%;
  height: 45px;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: var(--border1);
  color: var(--text);
  font-size: 17px;
  overflow-y: auto;
  border-radius: 5px;
}
.chat-body main .chat .input-group .input-group-append button {
  cursor: pointer;
  background-color: transparent;
  padding: 0 1.5rem 0 0.5rem;
  border: none;
}
.chat-body main .chat .input-group .input-group-append button i {
  font-size: 18px;
  color: var(--text);
}/*# sourceMappingURL=chat.css.map */